<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         cacheResult="false"
         colors="true">
    <testsuites>
        <testsuite name="SIPANDHALU">
            <directory>tests</directory>
            <exclude>tests/smoke_tahap1.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>